.transactionHistory {
    background-color: #ffffff;
    width: 100%;
    padding: 30px;
}


th {
    background-color: rgba(0, 183, 255, 0.473);
    padding: 15px 0px;
}

td {
    text-align: center;
    padding: 15px 0px;
}

tr:nth-child(2n) {
    background-color: #30303023;
}